# guido van rossum tweets. api returns 10 tweets even though the requested number is 30
interactions:
- request:
    body: null
    headers:
      Authorization:
      - OAuth oauth_nonce="", oauth_timestamp="",
        oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="",
        oauth_token="", oauth_signature=""
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=from%3Agvanrossum&include_entities=1&result_type=recent&count=30
  response:
    body:
      string: '{"statuses":[{"created_at":"Thu Jun 10 23:13:35 +0000 2021","id":1403128238184955906,"id_str":"1403128238184955906","text":"D''oh,
        I was confused, because Twitter turned the second (IC) link into a preview,
        while keeping the first (manager)\u2026 https:\/\/t.co\/NaAnLHtHHn","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/NaAnLHtHHn","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1403128238184955906","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":1403126294963912706,"in_reply_to_status_id_str":"1403126294963912706","in_reply_to_user_id":15804774,"in_reply_to_user_id_str":"15804774","in_reply_to_screen_name":"gvanrossum","user":{"id":15804774,"id_str":"15804774","name":"Guido
        van Rossum","screen_name":"gvanrossum","location":"San Francisco Bay Area","description":"Python''s
        BDFL-emeritus, Distinguished Engineer at Microsoft, Computer History Fellow,
        fully vaccinated. Opinions are my own. He\/him.","url":"https:\/\/t.co\/d7KfaZMnNU","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/d7KfaZMnNU","expanded_url":"http:\/\/python.org\/~guido\/","display_url":"python.org\/~guido\/","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":234060,"friends_count":529,"listed_count":4462,"created_at":"Mon
        Aug 11 04:02:18 +0000 2008","favourites_count":1374,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":3355,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/424495004\/GuidoAvatar_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/424495004\/GuidoAvatar_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/15804774\/1400086274","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":5,"favorite_count":27,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Jun 10 23:08:34 +0000 2021","id":1403126973887483907,"id_str":"1403126973887483907","text":"@valerybriz
        Sorry to hear that. We''re open to remote though (in fact everyone so far
        working on this is remote).","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"valerybriz","name":"ValeryBriz","id":829564145557200896,"id_str":"829564145557200896","indices":[0,11]}],"urls":[]},"metadata":{"iso_language[...]
- request:
    body: null
    headers:
      Authorization:
      - OAuth oauth_nonce="", oauth_timestamp="",
        oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="",
        oauth_token="", oauth_signature=""
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?max_id=1400651644711235583&q=from%3Agvanrossum&count=100&result_type=recent&include_entities=1
  response:
    body:
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":1400651644711235583,"max_id_str":"1400651644711235583","query":"from%3Agvanrossum","refresh_url":"?since_id=1400651644711235583&q=from%3Agvanrossum&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Fri, 11 Jun 2021 12:33:11 GMT
      status:
      - 200 OK
      x-access-level:
      - read
      x-connection-hash:
      - 9410d9c3dd9ef8e527b05366b6408267a388b3f6f1a6425a9dbb3dd08f8523d6
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '176'
      x-rate-limit-reset:
      - '1623414880'
      x-transaction:
      - 294eebca5740e276
      x-twitter-response-tags:
      - BouncerCompliant
    status:
      code: 200
      message: OK
version: 1
