interactions:
- request:
    body: null
    headers:
      Authorization:
      - OAuth oauth_nonce="", oauth_timestamp="",
        oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="",
        oauth_token="", oauth_signature=""
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23asdasdsadsadasdsafasf&include_entities=1&result_type=recent&count=30
  response:
    body:
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":1403326454876676097,"max_id_str":"1403326454876676097","query":"%23asdasdsadsadasdsafasf","refresh_url":"?since_id=1403326454876676097&q=%23asdasdsadsadasdsafasf&result_type=recent&include_entities=1","count":30,"since_id":0,"since_id_str":"0"}}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Fri, 11 Jun 2021 12:21:14 GMT
      status:
      - 200 OK
      x-access-level:
      - read
      x-connection-hash:
      - 1a4a3f9591c39bba420480903d2db8a50519b43e5f0d437c276d2d08b28089f9
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '178'
      x-rate-limit-reset:
      - '1623414880'
      x-transaction:
      - 94299f302a8ac82d
      x-twitter-response-tags:
      - BouncerCompliant
    status:
      code: 200
      message: OK
version: 1
