# 30 nasa tweets. Api returns tweets with empty or irrelevant hashtags sometimes.
# In this response there is only 16 tweets with proper nasa hashtag.
interactions:
- request:
    body: null
    headers:
      Authorization:
      - OAuth oauth_nonce="", oauth_timestamp="",
        oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="",
        oauth_token="", oauth_signature=""
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=%23nasa&include_entities=1&result_type=recent&count=30
  response:
    body:
      string: '{"statuses":[{"created_at":"Tue Jun 08 14:22:56 +0000 2021","id":1402269919107076103,"id_str":"1402269919107076103","text":"RT
        @revistaANOCERO: La #NASA mueve ficha tras la filtraci\u00f3n de algunos datos
        del informe que el grupo de trabajo sobre los #ovnis prepara p\u2026","truncated":false,"entities":{"hashtags":[{"text":"NASA","indices":[23,28]},{"text":"ovnis","indices":[123,129]}],"symbols":[],"user_mentions":[{"screen_name":"revistaANOCERO","name":"A\u00d1O\/CERO","id":501565487,"id_str":"501565487","indices":[3,18]}],"urls":[]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":22132592,"id_str":"22132592","name":"\u1d05\u1d00\u0274\u026a\u1d07\u029f
        \u0299\u0280\u1d00\u1d20\u1d0f","screen_name":"_MundoBravo","location":"\ud835\ude74\ud835\ude9c\ud835\ude99\ud835\ude8a\u00f1\ud835\ude8a\/
        Spain \ud83c\uddea\ud83c\uddf8\ud83c\uddea\ud83c\uddfa","description":"\u27a1\ufe0f
        En\ud83d\udc26: @BravoWorld_ \n                                                                                             \u21aa
        #EURO2020 \ud83c\uddea\ud83c\uddf8\ud83c\uddf8\ud83c\uddea \/ \ud83c\uddea\ud83c\uddf8\ud83c\uddf5\ud83c\uddf1
        \/ \ud83c\uddea\ud83c\uddf8\ud83c\uddf8\ud83c\uddf0 |","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":644,"friends_count":130,"listed_count":18,"created_at":"Fri
        Feb 27 12:00:08 +0000 2009","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4463,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1375249451930025993\/jtXcGu5o_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1375249451930025993\/jtXcGu5o_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/22132592\/1622885055","profile_link_color":"E81C4F","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Jun 07 19:00:00 +0000 2021","id":1401977259100020764,"id_str":"1401977259100020764","text":"La
        #NASA mueve ficha tras la filtraci\u00f3n de algunos datos del informe que
        el grupo de trabajo sobre los #ovnis prepa\u2026 https:\/\/t.co\/EQxKZ3BGI9","truncated":true,"entities":{"hashtags":[{"text":"NASA","indices":[3,8]},{"text":"ovnis","indices":[103,109]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/EQxKZ3BGI9","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1401977259100020764","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"es","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":501565487,"id_str":"501565487","name":"A\u00d1O\/CERO","screen_name":"revistaANOC[...]
