interactions:
- request:
    body: null
    headers:
      Authorization:
      - OAuth oauth_nonce="", oauth_timestamp="",
        oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="",
        oauth_token="", oauth_signature=""
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=from%3Aasdasdsadsadasdsafasf&include_entities=1&result_type=recent&count=30
  response:
    body:
      string: '{"statuses":[],"search_metadata":{"completed_in":0.009,"max_id":1403329466391314432,"max_id_str":"1403329466391314432","query":"from%3Aasdasdsadsadasdsafasf","refresh_url":"?since_id=1403329466391314432&q=from%3Aasdasdsadsadasdsafasf&result_type=recent&include_entities=1","count":30,"since_id":0,"since_id_str":"0"}}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Fri, 11 Jun 2021 12:33:12 GMT
      status:
      - 200 OK
      x-access-level:
      - read
      x-connection-hash:
      - 123a61aa1ac716b3ffe27c6587a38688632bd2c36af8a654f453e53ed96477ff
      x-rate-limit-limit:
      - '180'
      x-rate-limit-remaining:
      - '175'
      x-rate-limit-reset:
      - '1623414880'
      x-transaction:
      - 226a59d3546b4d7d
      x-twitter-response-tags:
      - BouncerCompliant
    status:
      code: 200
      message: OK
version: 1
